<div class="container my-2">
    <div class="row align-items-stretch">
        <ng-container *ngIf="imgs!.length > 0">
            <div class="col-12 col-md-4 mb-3" *ngFor="let image of imgs">
                <div class="card">
                    <img [src]="image.url" [alt]="image.name" class="card-img-top img-fluid"
                        style="height:300px!important;width:495px!important;">
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center mb-3 mt-1">
                <button class="btn btn-secondary btn-lg" (click)="nextPage()">
                   Next page
                </button>
            </div>
        </ng-container>
    </div>
    <div>
        <app-upload-image></app-upload-image>
    </div>
</div>